{% extends 'GestionBundle::main.html.twig' %}

{% block contenido %}

<div class="page-wrapper">
	<div class="content">
	<br>
	<h2>&nbsp;&nbsp;{% trans %}editar{% endtrans %} {% trans %}linea{% endtrans %}</h2>
	<br>

	{{form_start(form)}}
	{{form_widget(form)}}
	<input type="hidden" name='idLinea' id="idLinea"  value="{{id}}">
	{{form_end(form)}}

	<br>
	<a class="btn btn-secondary" href="{{ path('app_index_linea')}}">{% trans %}volver{% endtrans %}</a>
	<br>
	<br>
	</div>
</div>
{% endblock %}