{% extends 'GestionBundle::main.html.twig' %}

{% block contenido %}

<div class="page-wrapper">
	<div class="content">
	<br>
	<h2>&nbsp;&nbsp;{% trans %}aniadir{% endtrans %} MODO DE FALLO</h2>
	<br>

	{{form_start(form)}}
	{{form_widget(form)}}
	<input type="hidden" name='amfe' id="amfe"  value="{{amfe}}">
	<input type="hidden" name='idDetalleamfe' id="idDetalleamfe"  value="{{idDetalleamfe}}">
	{{form_end(form)}}

	<br>
		<form action="{{ path('app_edit_amfe')}}" method="post">
		  <button type="submit" class="btn btn-secondary">{% trans %}volver{% endtrans %}</button>
		  <input type="hidden" name='idAmfe' id="idAmfe"  value="{{amfe}}">
		</form></a>
	<br>
	<br>
	</div>
</div>
{% endblock %}