{% extends 'GestionBundle::main.html.twig' %}

{% block contenido %}

<div class="page-wrapper">
  <div class="content">
  <br>
  <h2>&nbsp;&nbsp;{% trans %}modelo_submodelo{% endtrans %}</h2>
  <br>
  <br>

  <form method="post" action="{{ path('app_create_modelosubmodelo')}}" enctype="multipart/form-data" name="modelosubmodelo" id="modelosubmodelo">
  <div class="card border-dark">
  <table class="table table-borderless">
        <tr>

          <th class="align-middle" scope="col">
            <div class="form-group">
              <select class="form-control input sm" name="modelo" id="modelo" required="">
              <option value="" disabled selected>{% trans %}modelo{% endtrans %}</option>
              {% for modelo in modelos %}
              <option value="{{ modelo.id }}">{{ modelo.nombre }}</option>
              {% endfor %}
              </select>
            </div>
          </th>

          <th class="align-middle" scope="col">
            <div class="form-group">
                  <select class="form-control input sm" name="submodelo" id="submodelo" required="">
                        <option value="" disabled selected>{% trans %}submodelo{% endtrans %}</option>
                        <option title="" value=""></option>
                  </select>
            </div>
          </th>

          <th class="align-middle" scope="col" width="10%">
            <div class="form-group">
              <select class="form-control input sm" name="cantidad" id="cantidad" required="">
              <option value="" id="a" disabled selected>{% trans %}cantidad{% endtrans %}</option>
              {% for i in 0..10 %}
              <option>{{ i }}</option>
              {% endfor %}
              </select>
            </div>
          </th>

          <th class="align-middle" scope="col">
            <div class="form-group">
              <input type="submit" id="add" value="{% trans %}+{% endtrans %}" class="btn btn-success"/>
            </div>
          </th>
        </tr>
    </table>
  </div>
  </form>

  <div id="ajax">
  </div>
  <br>
  <br>

</div>
</div>

<script type="text/javascript">  
  $(document).ready(function(){

    $('#modelo').on('change', function(){
       //console.log("hmm its change");
      var modelo_id=$(this).val();
       //console.log(planta_id);
      $.ajax({
        type:'get',
        url:'{{ path('app_fetch_modelosubmodelo')}}',
        data:{'id':modelo_id},
        success:function(r){
            var bbb = r.data;
            var options = '';
            //console.log(bbb);
            options += '<option value="0" selected disabled>{% trans %}submodelo{% endtrans %}</option>';
            for(var i=0; i<bbb.length; i++) { // Loop through the data & construct the options
            options += '<option value="'+bbb[i].id+'">'+bbb[i].nombre+'</option>';
            }
    // Append to the html
    $('#submodelo').empty();
    $('#submodelo').append(options);
    $('#ajax').load('{{ path('app_ajax_modelosubmodelo')}}',{modelo:$('#modelo').val()});
   
      }
    })
  });

  setTimeout(function(){
          $("div.alert").slideUp(500);
            }, 5000 ); // 5 secs

});

</script>

<br>
</div>
{% endblock %}

