

<script type="text/javascript">
  function actualizarIdAsignarproceso(id) {
        $('input[name=idAsignarproceso]').val(id);
      }
</script>

<form method="post" enctype="multipart/form-data" name="nuevo_menu" id="nuevo_menu"> 
<div id="ajax_selectedPlanta">
 <div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"><strong>{% trans %}planta{% endtrans %}</strong></th>
        <th scope="col"><strong>{% trans %}submodelo{% endtrans %}</strong></th>
        <th scope="col"><strong>{% trans %}linea{% endtrans %}</strong></th>
        <th scope="col"><strong>{% trans %}proceso{% endtrans %}</strong></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for asignarproceso in asignarprocesos %}
      <tr>
        <td class="align-middle" name="planta">{{ planta.nombre }}</td>
        <td class="align-middle">{{ submodelo.nombre }}</td>
        <td class="align-middle">{{ asignarproceso.idLinea.nombre }}</td>
        <td class="align-middle">{{ asignarproceso.idProceso.nombre }}</td>
        <td class="text-center align-middle"><button type="button" class="btn btn-sm btn-danger waves-effect waves-light text-center" data-toggle="modal"  data-target = "#modalConfirmDelete" onclick ="actualizarIdAsignarproceso({{asignarproceso.id}})" align-middle>{% trans %}eliminar{% endtrans %}</button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<input type="hidden" name='idAsignarproceso' id="idAsignarproceso"  value="">

 <!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">{% trans %}eliminar?{% endtrans %}</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <input type="submit" class="btn  btn-outline-danger" value="{% trans %}si{% endtrans %}" onclick ="this.form.action = '{{ path('app_delete_asignarproceso')}}'"/>
        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->

</div>
</form>

{#{% block javascripts %}
<script type="text/javascript"> 
  $(document).ready(function() {    
  setTimeout(function(){
        $("div.alert").slideUp(500);
    }, 5000 ); // 5 secs 

  $('#add').click(function(){
    $('#ajax_selectedPlanta').load('{{ path('app_create_asignarproceso')}}',{planta:$('#planta').val(), submodelo:$('#submodelo').val(), linea:$('#linea').val(), proceso:$('#proceso').val(), cantidad:$('#cantidad').val()});
    });

  });

  
</script>

{% endblock %}
#}