{% extends 'GestionBundle::main.html.twig' %}

{% block contenido %}
<div class="page-wrapper">
  <div class="content">
  <br>
  <h2>&nbsp;&nbsp;{% trans %}modelo{% endtrans %}</h2>
  <br>

  <table class="table">
  	<thead>
  		<tr>
  			<th scope="col"><strong>ID</strong></th>
          	<th scope="col"><strong>{% trans %}planta{% endtrans %}</strong></th>
          	<th scope="col"><strong>{% trans %}modelo{% endtrans %}</strong></th>
          	<th scope="col"><strong>{% trans %}area{% endtrans %}</strong></th>
          	<th scope="col"><strong>{% trans %}gama{% endtrans %}</strong></th></th>
          	<th scope="col"></th>
        	</tr>
      </thead>
      <tbody>
          <tr>
          	<th scope="row">{{modelo.id}}</th>
            	<td>{{modelo.idPlanta.nombre}}</td>
            	<td>{{modelo.nombre}}</td>
            	<td>{{modelo.area}}</td>
            	<td>{{modelo.idGama.nombre}}</td>
          </tr>
      </tbody>
  </table>


  <a class="btn btn-secondary" href="{{ path('app_index_modelo')}}">{% trans %}volver{% endtrans %}</a>
  <br>
  <br>
  </div>
</div>

{% endblock %}